
html {
    font-size: calc(1em + 1vw)
}

html, body {
    min-height: 100%
}

body {
    position: relative;
}



/* Game Menu */

.menu-container {
    background: url("../images/back.jpg") repeat center center; 
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 20px #000000;
    z-index: 10;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

 .menu-logo {
    height: 16vw;
    margin-top: 2vw;
    background: url("../images/logo.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: contain; 
}
 
 #menu {
     width: 30vw;
 }

.menu {
    background-color: black;
    flex-direction: column;
    width: 30vw;
    display: grid;
    height: 22vw;
    position: relative;
    border: 2px solid gray;
    border-radius: 4vw;
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 1px #ffffff;
}

.menu-items-container {
    color: #ffe92d;
    text-align: center;
    padding-top: 2vw;
    display: inline;
}

/* Button Container */

.button-container {
    justify-content: center;
}

.new-game-button,
.records-button,
.settings-button {
    background-color: #580200;
    font-family: 'Goblin One', cursive;
    font-size: 1.5vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 12px 1px #f7df00, inset 0px 0px 20px 1px #000000;
    border: 1px solid gray;
    height: 3vw;
    padding-top: 0.5vw;
    text-shadow: 0px 0px 20px #000000;
}

.new-game-button:hover,
.records-button:hover,
.settings-button:hover {
    color: black;
    text-shadow: 0px 0px 0px #000000;
    background-color: red;
    box-shadow: 0px 0px 12px 1px #ff0909, inset 0px 0px 20px 6px #000000;
}
/* /Button Container */
/* /Game Menu */




/* button click */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 2s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}




/* button click */
 .game-screen {
    height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover; 
    /* background: rgb(24,128,60);
    background: linear-gradient(180deg, rgba(15,68,33,1) 0%, rgba(1,64,23,1) 50%, rgba(0,6,2,1) 100%); */
    background: url("../images/back.jpg") repeat center center; 
 }

/* Game Sections */

 .info {
    height: 16vw;
    margin-bottom: 0.5vw;
    padding-top: 1.5vw;
 }

 .cards-container {
    height: 28vw;
    margin-bottom: 1vw;
    text-align: center;
 }

 .play {
    height: 8vw;
 }

 #play-container {
    position: relative;
    display: contents;
    text-align: center;
    margin-right: 6vw;
    flex-flow: column;
}

 /* /Game Sections */

/* Counters Containers */

 .credit {
    height: 6vw;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    display: flex;
    padding: 1.2vw;
    overflow: auto;
    font-size: 2.3vw;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 1vw;
    background-color: black;
    color: red;
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 1px #ffffff;
}

 .credit-remaining {
     color: yellow;
 }

 .wins-container {
    height: 6vw;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    display: flex;
    padding: 1.2vw;
    overflow: auto;
    font-size: 2.5vw;
    justify-content: center;
    border: 2px solid white;
    background-color: black;
    color: red;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 1px #ffffff;
 }

.wins {
    color: yellow;
}

/* /Counters Containers */

.logo {
    height: 15vw;
    background: url("../images/logo.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: contain; 
}

/* Wininng Combinations Display */

.combinations {
    height: 13vw;
    width: 100%;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 6px 7px #7d7d7d;
    position: relative;
    display: table;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(57,57,57,1) 0%, rgba(54,54,54,1) 49%, rgba(52,52,52,1) 100%);
}

.hand {
    color: #ffc107;
    height: 2vw;
    text-align: center;
    margin: 0.2vw;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 20px 20px #000000;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.9vh;
    font-family: 'Recursive', sans-serif;
    font-size: 1.2vh;
    font-weight: 500;
}

.hand-holder {
    margin-right: 0px;
    margin-left: 0px;
}

/* /Wininng Combinations Display */


/* .royal-flush { 
      background-color: #d60000;
    box-shadow: inset 0px 0px 4px 4px #000000;
    color: black;
}
    */ 
 

.straight-flush {
    background-color: #000000;
    box-shadow: 0px 0px 5px 2px #ffcf00;
    color: red;
}

/*
.four-of-kind {
     background: url(/assets/images/hands/four-of-kind.png) no-repeat center center;
     background-size: contain;
}

.full-house {
     background: url(/assets/images/hands/full-house.png) no-repeat center center;
     background-size: contain;
}

.flush {
     background: url(/assets/images/hands/flush.png) no-repeat center center;
     background-size: contain;
}

.straight {
     background: url(/assets/images/hands/straight.png) no-repeat center center;
     background-size: contain;
}

.three-of-kind {
     background: url(/assets/images/hands/three-of-kind.png) no-repeat center center;
     background-size: contain;
}

.two-pair {
     background: url(/assets/images/hands/two-pair.png) no-repeat center center;
     background-size: contain;
}

.one-pair {
     background: url(/assets/images/hands/one-pair.png) no-repeat center center;
     background-size: contain;
}
 */



/* Buttons */

.play-buttons {
    margin: 1vw;
    font-family: Recursive;
    font-size: 1.7vw;
    width: 10vw;
    border-radius: 10px;
    background-color: black;
    color: red;
    background: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(43 43 43) 50%, rgba(0,6,2,1) 100%);
    border: 2px solid #bfbfbf;
    box-shadow: inset 0px 0px 8px 0px #ffffff;
    text-shadow: 0 0 14px #000000, 0px 0px 20px #000000;
}


/* /buttons */

.scene {
    width: 100%;
    height: 23vw;
    perspective: 600px;
    display: flex;
}

/* Cards */

/* Fetched image style */
.cards {
    height: 22vw;
    width: 14.1vw;
    display: inline-block;
}
/* /Fetched image style */

.card {
    text-align: justify;
    width: 15vw;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 0.1vw 2vw 0.1vw 2vw;
}

/* Used for overwrite default card styles */

#first-card,
#second-card,
#third-card,
#fourth-card,
#fifth-card {
    background-color: #fff0;
    border: none;
}
/* /Used for overwrite default card styles */

/* Animation Delay */

#first-card {
    transition: transform 1s;
}

#second-card {
    transition-delay: 300ms;
}

#third-card { 
    transition-delay: 600ms;
}

#fourth-card {
    transition-delay: 900ms;
}

#fifth-card {
    transition-delay: 1200ms;
}
/* /Animation Delay */

/* Cards Faces */

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
    position: relative;
    backface-visibility: hidden;
}

.card-face--front {
   background: url("../images/back-of-card.png") no-repeat center center;
    background-size: cover;
    height: 22vw;
    width: 14vw;
    display: inline-block;
    box-shadow: 0px 0px 20px 9px #000000;
    border-radius: 1.1vw;
    position: absolute;
}

.card-face--back {
  transform: rotateY(180deg);
    box-shadow: 0px 0px 20px 9px #000000;
    border-radius: 1.1vw;
}
/* /Cards Faces */

/* Holding Card test */

.hold {
    color: #1d2124;
    font-size: 1.7vw;
    width: 9vw;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(101 72 72) 50%, rgba(0,6,2,1) 100%);
    border: 2px solid #0c0c0c;
    box-shadow: 0px 0px 11px 1px #000000;
    border-radius: 20px;
    margin-top: 0.5vw;
    font-family: 'Alfa Slab One';
}

#hold-container {
    justify-content: space-around;
}

.hold-active {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(161,23,23,1) 18%, rgb(255 0 0) 50%, rgba(161,23,23,1) 80%, rgba(0,6,2,1) 100%);
    color: #000000;
    box-shadow: inset 0px 0px 17px 3px #000000, 0px 0px 11px 1px #e4cc1b;
}


/* Bet */

.bet {
    color: red;
    background-color: black;
    text-align: center;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}