

/* Main Menu */
.main-menu-screen {
    background: url("../images/theme-red.jpg") repeat center center; 
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 20px #000000;
    z-index: 5;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#main-menu,
#settings-menu-container {
    width: 35vw;
}

.main-menu-logo {
    height: 14vw;
    margin-top: 1.5vw;
    background: url("../images/logo.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: contain; 
}

.main-menu {
    background-color: black;
    flex-direction: column;
    display: grid;
    margin-top: 1vw;
    height: 22vw;
    position: relative;
    border: 2px solid gray;
    border-radius: 4vw;
    box-shadow: 0px 0px 5vh 2vh black, inset 0px 0px 1vh 0.2vh #ffffff;
}

.main-menu-items-container {
    color: #ffe92d;
    text-align: center;
    padding-top: 1.2vw;
    display: inline;
}

.main-menu-item-settings {
    color: #ffe92d;
    text-align: center;
    padding-top: 1vw;
    display: inline;
}

/* Main Menu Button Container */
.button-container {
    justify-content: center;
}

.new-game-button,
.records-button,
.settings-button,
.instruction-button {
    background-color: #580200;
    font-family: 'Goblin One', cursive;
    font-size: 1.5vw;
    border-radius: 1vw;
    box-shadow: inset 0px 0px 20px 1px #000000;
    border: 2px solid gray;
    height: 3vw;
    padding-top: 0.3vw;
    text-shadow: 0px 0px 20px #000000;
}

.new-game-button:hover,
.records-button:hover,
.settings-button:hover,
.instruction-button:hover {
    color: black;
    text-shadow: 0px 0px 0px #000000;
    background-color: red;
    box-shadow: 0px 0px 12px 1px #ff0909, inset 0px 0px 20px 6px #000000;
}
/* /main menu button container */
/* /main menu */

/* Settings Menu*/
.settings-menu-screen {
    background: url(../images/theme-red.jpg) repeat center center;
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 20px #000000;
    z-index: 10;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.settings-heading {
    text-align: center;
    margin-top: 2vw;
    font-size: 4vw;
    font-family: 'Goblin One', cursive;
    background-color: black;
    color: transparent;
    text-shadow: 0px 2px 1px rgb(255 255 0), 1px 1px 20px black, 0px 0px 20px black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.settings-menu {
    color: yellow;
    text-align: center;
    margin: 1vh;
    border: 2px solid #797979;
    background-color: black;
    border-radius: 20px;
    padding: 2vh;
}

/* Settings Background Themes */
.theme {
    height: 7vw;
    border: 1px solid yellow;
    margin: 0.5vw;
}

.setting-theme-red {
    background: url("../images/theme-red.jpg") repeat center center;
    box-shadow: inset 0px 0px 3px 3px black;
}

.setting-theme-green {
    background: url("../images/theme-green.jpg") repeat center center;
    box-shadow: inset 0px 0px 3px 3px black;
}

.setting-theme-yellow {
    background: url("../images/theme-yellow.jpg") repeat center center;
    box-shadow: inset 0px 0px 3px 3px black;
}

.setting-theme-red:hover,
.setting-theme-yellow:hover,
.setting-theme-green:hover,
.settings-card-back-red:hover,
.settings-card-back-black:hover,
.settings-card-back-blue:hover {
    box-shadow: 0px 0px 3px 3px yellow, inset 0px 0px 3px 3px black;;
} 

.theme-container {
    display: flex;
    justify-content: space-around;
}

.settings-main-menu-back-button {
    background: red;
    height: 3vw;
    border-radius: 0.5vw;
    font-family: 'Goblin One', cursive;
    font-size: 1.5vw;
    box-shadow: inset 0px 0px 7px 3px black;
    border-bottom-color: transparent;
    border-image: initial;
    border-style: none;
    border: 1px solid white;
}

.settings-main-menu-back-button:hover {
    color: yellow;
    background-color: black;
    box-shadow: 0px 0px 7px 3px #ffe100, inset 0px 0px 5px 2px grey;

}

.theme-red {
    background: url("../images/theme-red.jpg") repeat center center;
    box-shadow: inset 0px 0px 1vw 0.6vw #000000;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px; 
}

.theme-yellow {
    background: url("../images/theme-yellow.jpg") repeat center center;
    box-shadow: inset 0px 0px 1vw 0.6vw #000000;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px; 
}

.theme-green {
    height: 100vh;
    background: url("../images/theme-green.jpg") repeat center center;
    box-shadow: inset 0px 0px 1vw 0.6vw #000000;
    position: absolute;
    top: 0px;
    left: 0px; 
}

.settings-menu-options {
    font-size: 2vw;
    margin: 0.5vw;
    font-family: 'Goblin One', cursive;
}
/* /settings background themes options */

/* Settings Cards Background Options*/
.settings-card-back-red {
    background: url("../images/back-of-card-red.png") no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 3px 3px black;
}

.settings-card-back-black {
    background: url("../images/back-of-card-black.png") no-repeat;
    background-size: cover; 
    box-shadow: inset 0px 0px 3px 3px black;
}

.settings-card-back-blue {
    background: url("../images/back-of-card-blue.png") no-repeat;
    background-size: cover; 
    box-shadow: inset 0px 0px 3px 3px black;
}

/* Cards Themes */
.card-theme-black {
    background: url("../images/back-of-card-black.png") no-repeat center center;
    background-size: contain;
}

.card-theme-red {
    background: url("../images/back-of-card-red.png") no-repeat center center;
    background-size: contain;
}

.card-theme-blue {
    background: url("../images/back-of-card-blue.png") no-repeat center center; 
    background-size: contain;
}
/* /cards themes */
/* /settings cards background options*/
/* /settings menu */

/* Elements Visability */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 2s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
/* /elements visability */

/* Game Screen */
.game-screen {
    height: 100vh;
    background: url("../images/theme-red.jpg") repeat center center;
    top: 0px;
    left: 0px; 
}
/* /game screen */

.load-screen {
    background-color: #000;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 50vw;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}


/* Information Container */
.info-container {
    height: 14vw;
    position: relative;
    padding-top: 1vw;
}

/* Counters Containers */
 .credit {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 2vw;
    padding: 1.2vw;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 1.5vw;
    color: red;
    background-color: black;
    box-shadow: 0px 0px 1vw 0.2vw black, inset 0px 0px 0.5vw 0.1vw #ffffff;
}

.credit-remaining-text {
    color: red;
}

.credit-remaining-value {
    color: yellow;
}

.wins-container {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    padding: 1.2vw;
    color: red;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 1vw 0.2vw black, inset 0px 0px 0.5vw 0.1vw #ffffff;
}

.wins-text {
    color: red;
    font-size: 2vw;
}

.wins-value {
    color: yellow;
    font-size: 2vw;
 
}
/* /counters Containers */

.logo {
    height: 15vw;
    background: url("../images/logo.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: contain; 
}

/* Wininng Combinations Display */
.hand {
    color: #ffc107;
    height: 2.4vw;
    background-color: black;
    text-align: center;
    margin: 0.3vh;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 4px 1px #ffffff, 0px 0px 0px 0px #ffffff;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.4vw;
    font-family: 'Recursive', sans-serif;
    font-size: 0.8vw;
    font-weight: 500;
}

/* .royal-flush { 
      background-color: #d60000;
    box-shadow: inset 0px 0px 4px 4px #000000;
    color: black;
}
    */ 
 
.straight-flush {
    background-color: #000000;
    box-shadow: 0px 0px 5px 2px #ffcf00;
    color: red;
}

/*
.four-of-kind {
     
}

.full-house {
     
}

.flush {
     
}

.straight {
    
}

.three-of-kind {
     
}

.two-pair {
     
}

.one-pair {
     
}
 */
 /* /wininng combinations display */
/* /information container */

/* Cards Container*/
.cards-container {
    height: 23vw;
    justify-content: space-around;
}

.card {
    text-align: justify;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

/* Used for overwrite default card styles */
#first-card,
#second-card,
#third-card,
#fourth-card,
#fifth-card {
    background-color: #fff0;
    border: none;
    align-items: center;
}
/* /used for overwrite default card styles */

/* Fetched image style */
.cards {
    height: 23vw;
    width: 14.3vw;
    display: inline-block;
}
/* /fetched image style */

/* Animation Delay */
#first-card {
    transition: transform 1s;
}

#second-card {
    transition-delay: 300ms;
}

#third-card { 
    transition-delay: 600ms;
}

#fourth-card {
    transition-delay: 900ms;
}

#fifth-card {
    transition-delay: 1200ms;
}
/* /animation delay */

/* Cards Faces */
.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
    backface-visibility: hidden;
}

.card-face--front {
    background-size: cover;
    height: 23vw;
    width: 14.3vw;
    display: inline-block;
    box-shadow: 0px 0px 1vw 0.5vw black;;
    border-radius: 1.1vw;
    position: absolute;
}

.card-face--back {
  transform: rotateY(180deg);
    box-shadow: 0px 0px 1vw 0.5vw black;;
    border-radius: 1.1vw;
    width: 14.3vw;
    height: 23vw;
}

/* /cards faces */
/* /cards */

/* Game Buttons */
.game-buttons {
    justify-content: space-around
}

.play-buttons {
    padding-top: 0.6vh;
    font-size: 1.7vw;
    border-radius: 10px;
    background-color: black;
    color: red;
    font-family: 'Goblin One', cursive;
    border: 2px solid #bfbfbf;
    box-shadow: 0px 0px 1vw 0.4vw black, inset 0px 0px 0.4vw 0.1vw #ffffff;
}

.play-buttons:hover {
    background-color: red;
    color: black;
    box-shadow: 0px 0px 0.5vw 0.1vw yellow, inset 0px 0px 0.5vw 0.1vw #000000;
    border: 2px solid black;

}

.save-button,
.in-game-menu-button {
    color: yellow;
}

.bet-buttons {
    font-size: 1vw;
    padding-top: 0.8vw;
    color: black;
    background-color: yellow;
    box-shadow: 0px 0px 1vw 0.1vw #000000, inset 0px 0px 1vw 0.1vw #000000;
}

#bet-up:hover {
    background-color: green;
}

#bet-down:hover {
    background-color: red;
}

.bet-inactive {
    font-size: 1vw;
    padding-top: 0.8vw;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 0px 1vw 0.1vw #000000, inset 0px 0px 1vw 0.1vw #000000;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-shadow: rgb(0, 0, 0) 0px 0px 2px;
    background: linear-gradient(rgb(221, 221, 221), rgb(170, 170, 170));
    pointer-events: none;
}

.double-inactive {
    text-align: center;
    vertical-align: middle;
    color: rgb(78 78 78);
    text-shadow: rgb(0, 0, 0) 0px 0px 2px;
    background: linear-gradient(rgb(221, 221, 221), rgb(170, 170, 170));
    pointer-events: none;
    padding-top: 0.6vh;
    font-size: 1.7vw;
    background-color: black;
    font-family: 'Goblin One', cursive;
    border: 2px solid #bfbfbf;
    box-shadow: 0px 0px 1vw 0.4vw black, inset 0px 0px 0.4vw 0.1vw #ffffff;
}

/* Disabling hover over bet counter */
#bet-counter {
    pointer-events: none;
}

/* Hold Card Button */
.hold {
    color: #1d2124;
    font-size: 1.7vw;
    width: 9vw;
    background: red;
    border: 2px solid #0c0c0c;
    box-shadow: 0px 0px 1vh 0.1vh #000000, inset 0px 0px 4vh 1.1vh #000000;
    border-radius: 20px;
    font-family: 'Goblin One', cursive;
    text-align: center;
}

.hold-container {
    justify-content: space-around;
}

.hold-inactive {
    color: #1d2124;
    font-size: 1.7vw;
    width: 9vw;
    background: linear-gradient(rgb(221, 221, 221), rgb(170, 170, 170));
    border: 2px solid #0c0c0c;
    box-shadow: 0px 0px 1vh 0.1vh #000000, inset 0px 0px 4vh 1.1vh #000000;
    border-radius: 20px;
    font-family: 'Goblin One', cursive;
    text-align: center;
    pointer-events: none;
}

.hold-active,
.hold:hover {
    background: red;
    color: #000000;
    box-shadow: inset 0px 0px 1vh 0.1vh #000000, 0px 0px 1vh 0.1vh 
    yellow;
}
/* /hold-card-button */
/* /game-buttons */
