
body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

/* Game Main Menu */
.main-menu-container {
    background: url("../images/back.jpg") repeat center center; 
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 20px #000000;
    z-index: 10;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#game,
#menu-container {
    width: 100vw;
}

.main-menu-logo {
    height: 30vh;
    margin: 5vh;
    background: url("../images/logo.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: contain; 
}
 
#main-menu,
#settings-menu-container {
    width: 30vw;
}

.main-menu {
    background-color: black;
    flex-direction: column;
    display: grid;
    margin: 5vh;
    height: 40vh;
    position: relative;
    border: 2px solid gray;
    border-radius: 4vw;
    box-shadow: 0px 0px 5vh 2vh black, inset 0px 0px 1vh 0.2vh #ffffff;
}

.main-menu-items-container {
    color: #ffe92d;
    text-align: center;
    padding-top: 2vw;
    display: inline;
}

.main-menu-item-settings {
    color: #ffe92d;
    text-align: center;
    padding-top: 2vw;
    display: inline;
}
/* Main Menu Button Container */
.button-container {
    justify-content: center;
}

.new-game-button,
.records-button,
.settings-button {
    background-color: #580200;
    font-family: 'Goblin One', cursive;
    font-size: 2.6vh;
    border-radius: 1vw;
    /* box-shadow: 0px 0px 12px 1px #f7df00, inset 0px 0px 20px 1px #000000; */
    box-shadow: inset 0px 0px 20px 1px #000000;
    border: 2px solid gray;
    height: 3vw;
    padding-top: 0.4vw;
    text-shadow: 0px 0px 20px #000000;
}

.new-game-button:hover,
.records-button:hover,
.settings-button:hover {
    color: black;
    text-shadow: 0px 0px 0px #000000;
    background-color: red;
    box-shadow: 0px 0px 12px 1px #ff0909, inset 0px 0px 20px 6px #000000;
}
/* /main menu button container */

/* Settings */
.settings-menu-screen {
    background: url(../images/back.jpg) repeat center center;
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 20px #000000;
    z-index: 10;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.settings-heading {
    text-align: center;
    margin: 5vh;
    margin-top: 10vh;
    font-size: 7vh;
    font-family: 'Goblin One', cursive;
    background-color: black;
    color: transparent;
    text-shadow: 0px 2px 1px rgb(255 255 0), 1px 1px 20px black, 0px 0px 20px black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.settings-menu {
    color: yellow;
    text-align: center;
    margin: 1vh;
    border: 2px solid #797979;
    background-color: black;
    border-radius: 20px;
    padding: 2vh;
}

.theme {
    height: 10vh;
    width: 10vh;
}

.theme-container {
    display: flex;
    justify-content: space-around;
}

/* /settings */
/* /game menu */

/* Button Click */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 2s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
/* /button click */

/* Game Buttons */
.game-buttons {
    height: 10vh;
    position: relative;
    margin-top: 3vh;
}

#game-buttons-container {
    position: relative;
    display: contents;
    text-align: center;
    margin-right: 6vw;
    flex-flow: column;
}

.play-buttons {
    margin: 1vw;
    padding-top: 0.6vh;
    font-size: 1.7vw;
    border-radius: 10px;
    background-color: black;
    color: red;
    font-family: 'Goblin One', cursive;
    border: 2px solid #bfbfbf;
    box-shadow: 0px 0px 1vh 0.2vh black, inset 0px 0px 1vh 0.2vh #ffffff
}

.bet-button {
    color: red;
    background-color: black;
    text-align: center;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    padding-top: 0.1vh;
}

.in-game-menu-button {
    color: yellow;
}

/* Hold Card Button */
.hold {
    color: #1d2124;
    font-size: 1.7vw;
    width: 9vw;
    background: red;
    border: 2px solid #0c0c0c;
    box-shadow: 0px 0px 1vh 0.1vh black, inset 0px 0px 4vh 1.1vh black;
    border-radius: 20px;
    margin-top: 0.5vw;
    font-family: 'Alfa Slab One';
    text-align: center;
}

#hold-container {
    justify-content: space-around;
}

.hold-active {
    background: red;
    color: #000000;
    box-shadow: inset 0px 0px 1vh 0.1vh #000000, 0px 0px 1vh 0.1vh 
    yellow;
}

/* /hold-card-button */
/* /game-buttons */

/* Game Sections */
.game-screen {
    height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover; 
    background: url("../images/back.jpg") repeat center center;
    position: absolute;
    top: 0px;
    left: 0px; 
 }

.info-container {
    height: 30vh;
    margin: 1vh;
    position: relative
}

.info-items {
    margin: 2vh;
    padding: 0px !important;
}

.cards-container {
    height: 50vh;
    margin-bottom: 1vh;
    text-align: center;
    position: relative;
    margin-top: 1vh;
}
/* /game sections */

/* Counters Containers */
 .credit {
    height: 11vh;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    display: flex;
    padding: 1.2vw;
    overflow: auto;
    font-size: 2.3vw;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 2.5vh;
    background-color: black;
    color: red;
    box-shadow: 0px 0px 1vh 0.2vh black, inset 0px 0px 1vh 0.2vh #ffffff;;
}

.credit-remaining-text {
    color: red;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 2vh;
    padding-left: 1vh;
    font-size: 2.5vw;
}

.credit-remaining-value {
    color: yellow;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 2.1vh;
    font-size: 2.3vw;
    padding-right: 1vh;

 }

 .wins-container {
    height: 11vh;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    display: flex;
    padding: 1.2vw;
    overflow: auto;
    font-size: 2.5vw;
    justify-content: center;
    border: 2px solid white;
    background-color: black;
    color: red;
    border-radius: 20px;
    box-shadow: 0px 0px 1vh 0.2vh black, inset 0px 0px 1vh 0.2vh #ffffff;;
 }

.wins-text {
    color: red;
    position: absolute;
    top: 13.7vh;
    left: 0px;
    margin: 2vh;
    padding-left: 1vh;
    font-size: 2.5vw;
}

.wins-value {
    color: yellow;
    position: absolute;
    top: 13.7vh;
    right: 0px;
    margin: 2.1vh;
    font-size: 2.4vw;
    padding-right: 1vh;
}
/* /counters Containers */

.logo {
    height: 15vw;
    background: url("../images/logo.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: contain; 
}

/* Wininng Combinations Display */
.combinations {
    height: 13vw;
    width: 100%;
    border-radius: 20px;
    
}

.hand {
    color: #ffc107;
    height: 4.5vh;
    background-color: black;
    text-align: center;
    margin: 0.3vh;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 4px 1px #ffffff, 0px 0px 0px 0px #ffffff;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.9vh;
    font-family: 'Recursive', sans-serif;
    font-size: 1.2vh;
    font-weight: 500;
}

.hand-holder {
    margin-right: 0px;
    margin-left: 0px;
}
/* /wininng Combinations Display */


/* .royal-flush { 
      background-color: #d60000;
    box-shadow: inset 0px 0px 4px 4px #000000;
    color: black;
}
    */ 
 

.straight-flush {
    background-color: #000000;
    box-shadow: 0px 0px 5px 2px #ffcf00;
    color: red;
}

/*
.four-of-kind {
     background: url(/assets/images/hands/four-of-kind.png) no-repeat center center;
     background-size: contain;
}

.full-house {
     background: url(/assets/images/hands/full-house.png) no-repeat center center;
     background-size: contain;
}

.flush {
     background: url(/assets/images/hands/flush.png) no-repeat center center;
     background-size: contain;
}

.straight {
     background: url(/assets/images/hands/straight.png) no-repeat center center;
     background-size: contain;
}

.three-of-kind {
     background: url(/assets/images/hands/three-of-kind.png) no-repeat center center;
     background-size: contain;
}

.two-pair {
     background: url(/assets/images/hands/two-pair.png) no-repeat center center;
     background-size: contain;
}

.one-pair {
     background: url(/assets/images/hands/one-pair.png) no-repeat center center;
     background-size: contain;
}
 */

.scene {
    width: 100%;
    height: 23vw;
    perspective: 600px;
    display: flex;
}

/* Cards */
/* Fetched image style */
.cards {
    height: 22vw;
    width: 14.1vw;
    display: inline-block;
}
/* /fetched image style */

.card {
    text-align: justify;
    width: 15vw;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 0.1vw 2vw 0.1vw 2vw;
}
/* Used for overwrite default card styles */

#first-card,
#second-card,
#third-card,
#fourth-card,
#fifth-card {
    background-color: #fff0;
    border: none;
}
/* /used for overwrite default card styles */

/* Animation Delay */
#first-card {
    transition: transform 1s;
}

#second-card {
    transition-delay: 300ms;
}

#third-card { 
    transition-delay: 600ms;
}

#fourth-card {
    transition-delay: 900ms;
}

#fifth-card {
    transition-delay: 1200ms;
}
/* /animation delay */

/* Cards Faces */
.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
    position: relative;
    backface-visibility: hidden;
}

.card-face--front {
   background: url("../images/back-of-card.png") no-repeat center center;
    background-size: cover;
    height: 22vw;
    width: 14vw;
    display: inline-block;
    box-shadow: 0px 0px 1vh 0.5vh black;
    border-radius: 1.1vw;
    position: absolute;
}

.card-face--back {
  transform: rotateY(180deg);
    box-shadow: 0px 0px 1vh 0.2vh black;
    border-radius: 1.1vw;
}
/* /cards faces */
/* /cards */

